h4{
    text-align: center;
}
#div_main {
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    border: 1px solid grey;
}

#cents {
    float:left; 
    width:20%;
    height:60%;
    margin-left: 2%;
    margin-right: 2%;
    
    
}
label {
    padding-left:5px;
}

#dollars {
    width:50%; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}
p {
    text-align: center;
}
#calculate-change {
    padding-left:5px;
    margin-left: 5px;
}